<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="afcc.taavi.kase.afcc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AverageFuelConsumptionActivity"
            android:label="@string/title_activity_average_fuel"
            android:parentActivityName=".activity.BaseActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activity.BaseActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>

        <activity
            android:name=".activity.AverageSpeedActivity"
            android:label="@string/title_activity_average_speed"
            android:parentActivityName=".activity.BaseActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>

        <activity
            android:name=".activity.SpeedometerActivity"
            android:label="@string/title_activity_speedometer"
            android:parentActivityName=".activity.BaseActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>

        <provider
            android:name=".database.AFCCProvider"
            android:authorities="kase.taavi.averagefuelconsumption"
            android:exported="false" />

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".activity.BaseActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>

        <activity
            android:name=".activity.PreviousResultsActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName=".activity.BaseActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BaseActivity" />
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>
</manifest>
